.selectors
{
    background-color: rgb(5, 228, 228);
  font-size: larger;
}
.selectors2
{
 background-color: green
 

}
.combin
{
    background-color: rgb(156, 146, 146);
}

#pseudoselectors
{
    background-color: rgb(221, 221, 82);
}


